# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/crash.log
terraform/crash.*.log
terraform/*.tfplan

# AWS / ECS temporary configuration
task-definition.json
trust-policy.json


# Terraform override files
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

# Environment / secrets
.env
.env.*
!.env.example

# AWS credentials / keys
.aws/
*.pem
*.key

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Go
*.test
coverage.out

# Logs
*.log
